body{
    font-family: "Open Sans",sans-serif;
    font-size: 14px !important;
    font-weight: 400;
    line-height: 1.42857;
}

h1{
    font-family: "Open Sans",sans-serif;
    font-weight: 700;
    line-height: 1.05;
    margin: 0.75em 0 0.5em 0;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover{
     text-decoration: none;
}


/* index.html */
#loginForm{
    position: fixed;
    top: calc(50% - 15em);
    left: calc(50% - 15em);
    width: 29em;
    min-height: 14em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: block;
    margin-top: 0em;
}

#loginForm h1{
    padding: 0.6em;
    font-size: 1.8em;
    color: #00357a;
    text-align: center;
    text-transform: capitalize;
}

#loginForm .logo{
    background: url(/static/assets/img/logo-jewel.png);
    background-size: 126px  36px;;
    background-repeat: no-repeat;
    background-position:center ;
    width: 100%;
    height: 64px;
    overflow: hidden;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;

}

fieldset {
   padding: 1em;
    margin: 0;
    border: 0;
    min-width: 0;
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
}


#loginForm fieldset label {
    font-size: 1.2em;
    display: inline-block;
    min-width: 38%;
    min-height: 3em;
    font-weight: 900;
    
}

label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

#loginForm fieldset input[type="text"],input[type="password"]{
    display: inline-block;
    min-width: 56%;
    border: 1px solid #e3e4e5;
    padding: 0.3em;
    color:#333435;;
    border-radius: 4px;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    max-width: 100%;
    line-height: inherit;
}

.buttons{
        text-align: right;
        margin: 0 0 10px;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-family: "Open Sans",sans-serif;
}
.buttons a{
    color: #00357a;
    text-decoration: underline;
}

.buttons a:hover{
    color:  #00295f;
   
}


input[type="submit"]{
    font-size: 1.1em;
    margin: 0 0 1em 0;
    display: inline-block;
    padding: 7px 16px;
    border: 1px solid #ffbf0f;
    border-radius: 4px;
    background:#ffbf0f;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    line-height: 18px;
    color: #202122;
    text-decoration: none;
    text-transform: none;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    
}


input[type="submit"]:hover{
    color: white;
    text-decoration: none;
    background:#b6975d;
    border-color: #c3c5c7;
   
}

/* index.html */

/* home.html */
.topheader{
    background: white;
    color: #00357a;
    font-size: 1em;
    height: auto;
    width: 100%;
   
}
.headerlogo{
    width: 100%;
    padding: 0 16px;
    height: 52px;
    background: var(--top-header-background);
    text-align: center;
    transition: all 0.3s ease;
    color: #00357a;
    font-size: 1em;
}

.headerlogoinstitution{
    background: url(/static/assets/img/logo-jewel.png);
    background-repeat:no-repeat;
    background-position: center;
    width: 126px;
    height: 100%;
    float: left;
    background-size: 126px 36px;
   
}

nav{
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    color: #00357a;
    font-size: 1em;
}

.bell-buttons{
    height: 2.3em;
    line-height: 2.3em;
    position: relative;
    display: inline-block;
    margin-left: calc(16px / 2);
    padding-left: calc(16px / 2);
    border-left: 0px solid #e3e4e5;
    white-space: nowrap;
    text-align: center;
    color: #00357a;
    font-size: 1em;
}

.bellcion:before{
    font-family: 'Font Awesome\ 5 Free';
content: "\f0f3"; 
font-weight: 900;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.bellcion{
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #00357a;
    text-align: center;
    padding-right: 5px;
    font-size: 1.33333em;
    line-height: .75em;
    vertical-align: -15%;
}

.counter{
    color: #f1b8ba;
    background-color: #9e0008;
    font-weight: bold;
    font-size: 10px;
    position: absolute;
    padding: 0px 2px;
    margin-top: 18px;
    margin-left: -6px;
    border-radius: 2px;
    line-height: 1.5em;
}

.grid{
    height: 2.3em;
    line-height: 2.3em;
    position: relative;
    display: flex;
    margin-left: calc(25px / 2);
    padding-left: calc(25px / 2);
    border-left: 0px solid #e3e4e5;
    text-align: center;
    color:#00357a;
    font-size: 1em;
    align-items: center;
    justify-content: center;
}

.grid a{
        text-decoration: none;
        display: flex;
        align-items: center;
        color: #00357a;
        background-color: transparent;
        
        
}

.gridicon::before{
    font-family: 'Font Awesome\ 5 Free';
    content: "\f00a";
    font-weight: 900;
}

.gridicon{
    display: inline-block;
   
    padding-top: 6px;
    width: calc(16px * 2);
    height: calc(16px * 2);
    vertical-align: middle;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.sites{
    display: none;
    margin-left: 4px;
    vertical-align: middle;
}

.login-links{
    font-family: "Open Sans",sans-serif;
    list-style: none;
    margin-left: calc(16px / 2);
    padding: 0;
    padding-left: calc(16px / 2);
    border-left: 0px solid #e3e4e5;
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 0px;
    height: 2.3em;
    line-height: 2.3em;
    margin-top: 0;
}




.login-item{
    top: 165px;
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #E0E0E0;
    z-index: 1000;
   
    background-color: #f7e084;
    color: #000 !important;
    text-align: center;
    padding: 6px 8px;
    border-radius: 3px;
    text-decoration: none;
    font-family: "Open Sans",sans-serif;
    list-style: none;
}


.login-item a{
    text-decoration: underline;
    text-transform:capitalize;
    display: flex;
    align-items: center;
   
    background-color: #f7e084;
    color: #000 !important;
    text-align: center;
    padding: 6px 8px;
    border-radius: 3px;



}

.login-item-popup{
    display: flex;
    align-items: center;
        position: relative;
}

.loginuser{
        position: relative;
        display: flex;
        align-items: center;
}

.profileUser{
    text-decoration: none;
    color: #00357a;
    text-decoration: underline;
    display: flex;
    align-items: center;
}

.backgroundprofile{
    background-image: url(../img/profile.png);
    width: 2.3em;
    height: 2.3em;
    display: inline-block;
    background-size: auto 100%;
    background-position: 50%;
    margin: 0 4px 0 0;
    border: 2px solid #1f78af;
    border-right-color:#1f78af;
    border-bottom-color: #6d3904;
    border-left-color: #6d3904;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px white;
    position: relative;
}






.textlink{
    display: none;
    max-width: 100px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.usernav{
    
    background-color: white;
    text-align: left;
    padding: 0 0 0 0;
    margin: 0.48em 1em 0 0.9em;
    font-family: "Open Sans",sans-serif;
    position: absolute;
    right: -1em;
    width: 20em;
    z-index: 99;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    list-style: none;
    display: none;
    top: 80%;
    
}

.usernav::after{
    bottom: 100%;
    left: 90%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-bottom-color: white;
    border-width: 7px;
    outline: 0;
    

}




.subusernav{
    border-bottom: 1px solid #e3e4e5;
    margin-bottom: 0.5em;
    background-color: white;
    display: flex;
    border: 0px none;
    border-radius: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    min-height: 15px;
    border-bottom: 1px solid #e3e4e5;
    margin-bottom: 0.5em;
}

.subusernav-profile{
        display: inline-block;
    vertical-align: top;
    padding: 16px 16px 0 16px;
}

.has-avater{
    position: relative;
}

.has-avater a{
    text-decoration: none;
    color: #00357a;
    line-height: 1em;
    display: block;
    padding: 0 !important;
}

.has-avater span:nth-child(1){
        background-image: url(../img/profile.png);
   width: 64px;
    height: 64px;
    margin: 0;
    overflow: hidden;
    display: inline-block;
    background-size: auto 100%;
    background-position: 50%;
    margin: 0 4px 0 0;
    border: 2px solid #1f78af;
    border-right-color:#1f78af;
    border-bottom-color: #6d3904;
    border-left-color: #6d3904;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px white;
    position: relative;
}

.has-avater span:nth-child(2){
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.submenuitem-prifile a{
    display: block;
    padding: 0.65em;
    text-decoration: none;
    color: #00357a;
    line-height: 1em;
}
.submenuitem-prifile a:hover{
    text-decoration: underline;
}

.submenuitem-prifile a span{
text-transform: capitalize;
}
.userNav-fullname{
    padding-top: 1em;
    color: #333435;
    display: inline-block;
    margin-bottom: 5px;
    width: 10em;
    word-wrap: break-word;
    vertical-align: top;
}
.userNav-fullname-1{
    font-weight: 700;
    font-size: 120%;
    line-height: 1.2;
    padding: 2px 0;
    color: #333435;
    word-wrap: break-word;
    text-transform: uppercase;
        font-family: "Open Sans",sans-serif;
}

.userNav-fullname-2{
    margin-top: 4px;
    font-weight: normal;
    line-height: 1.2;
}

.subusernav-2{
    padding: 0 16px;
    display: flex;
    border: 0px none;
    border-radius: 0;
    margin: 0 0 0 0;
    min-height: 15px;


}

.subusernav-2 a{
    display: block;
    padding: 0.65em;
    text-decoration: none;
    color: #00357a;
    line-height: 1em;

}
.subusernav-2 a:hover{
    text-decoration: underline;
}


.subusernav-2 a span{
    text-transform: capitalize;
}


.includeTabs{
    background: #00357a;
    
    
}

.includeTabs nav{
    display: block;
    
   height: inherit;

}

.skip{
    position: absolute !important;
    height: 0px;
    width: 0px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
    margin: 0;
    padding: 0;
}

#showallsites{
    display: none;

}

.topcontainers{
    display: flex;
    align-items: center;
    min-height: 52px;
    padding: 0 16px;
   


}

.topcontainers ul{
    flex-wrap: wrap;
    font-family: "Open Sans",sans-serif;
    margin: 16px 0 0 0;
    padding: 0;
    display: flex;
    list-style: none;
  
    
}

.workspace{
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 16px 16px 0;
    padding: 0;
    border-radius: 25px;
    background: white;
    list-style: none;
}

.workspace:hover,.menuitem:hover{
    box-shadow: 0 3px 3px -2px rgba(182, 138, 93, 0.623), 0 4px 4px 0 rgba(182,138,93,.12), 0 1px 5px 0 rgba(182,138,93.12);
    transition: 100ms ease-out;
    background: #b6975d;
    border-color: #b6975d;

}


.link-container{
    display: flex !important;
    align-items: center;
    justify-content: center !important;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    color: #00357a;
    border-radius: 25px;
     padding-right: 0px;

}


.link-container span:nth-child(1){
    margin-right: 16px;
        line-height: 1;
       
}

.link-container span:nth-child(2){
    text-transform: capitalize;
}
.link-container-dropdown::before{
    font-family: 'Font Awesome\ 5 Free';
     content: "\f078";
    font-weight: 600;
}


.link-container-dropdown{
    margin-left: -1px;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    color: #00357a;
    border-radius: 16px;
    box-sizing: content-box;
    width: 14px;
    height: 14px;
    font-size: 1em;
    line-height: .75em;
    vertical-align: -15%;
    display: flex;
    align-items: center;
    justify-content: center;
   text-decoration: none;
   
}
.link-container-dropdown:hover,.link-container:hover{
   text-decoration: none;
   color: white;

}

.menuitem{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0px 16px 16px 0px;
    padding: 0px;
    border-radius: 25px;
    list-style: none;
    background: white;
}

.menuitem-2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0px 16px 16px 0px;
    padding: 0px;
    border-radius: 25px;
    list-style: none;
    background: #ffbf0f;
}

.menuitem-2:hover{
    background:#b6975d;
    box-shadow: 0 3px 3px -2px rgba(182, 138, 93, 0.623), 0 4px 4px 0 rgba(182,138,93,.12), 0 1px 5px 0 rgba(182,138,93.12);
    transition:  ease-out;
   
}

.menuitem-icon::before{
     font-family: 'Font Awesome\ 5 Free';
     content: "\f005";
    font-weight: 600;
}
.menuitem-icon-2::before{
    font-family: 'Font Awesome\ 5 Free';
     content: "\f078";
    font-weight: 600;
}

.menuitem-icon:hover,.menuitem-icon-2:hover{
    color: #fff;
    text-decoration: none;
}

.menuitem-icon,.menuitem-icon-2{
    margin-right: -1px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    color: #00357a;
    border-radius: 16px;
    box-sizing: content-box;
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagebody{
    display: flex;
    align-items: stretch;
    
    flex-direction: row;
   
}

.toolMenu{
    display: block;
    min-width: 216px;
    width: 216px;
    min-height: calc(100vh - (52px * 2));
    flex-basis: 216px;
    padding: calc(16px / 2) 0 0 0;
    text-align: center;
    border-right: 1px solid #e3e4e5;
    padding-bottom:10%;

}

.toolMenuitemsContainer{
    color: #333435;
    font-family: "Open Sans",sans-serif;
    font-size: 14px !important;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;


}

.toolMenuitemsContainer nav{
position: relative;
display: block;
justify-content: flex-start;
align-items:center;

height: inherit;


}




.toolMenuitemsContainer nav li{
border-bottom: 1px solid white;

}




.toolMenuitemsContainer nav li a::before{
    content: '';
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border-left: none;
}

.toolMenuitemsContainer nav li a{
position: relative;
display: flex;
align-items: center;
justify-content: center;
background-color:#00357a;
font-size: 1em;
line-height: 1.5;
font-weight: normal;
text-decoration: none;
color: white;
text-align: left;
border-radius: 0 calc(16px * 1.5) calc(16px * 1.5) 0;
margin-right: calc( 16px / 2);
margin-bottom: 2px;
padding: 10px 8px;


}


.toolMenuitemsContainer nav li a:hover{
box-shadow: 0 3px 3px -2px rgba(182, 138, 93, 0.623), 0 4px 4px 0 rgba(182,138,93,.12), 0 1px 5px 0 rgba(182,138,93.12);
    transition: 100ms ease-out;
color: #ffbf0f ;
    background:#f3f3f4;
    outline: 0;
}



/* .toolMenuitemsContainer-icon::before{
    font-family: 'Font Awesome\ 5 Free';
    content: "\f005";
    font-weight: 900;

} */



.toolMenuitemsContainer-icon{
    
    height: 100%;
    font-size: 16px;
    width: 1.28571em;
    text-align: center;
    display: block;
    line-height: 1.25;
        
}



.toolMenuitemsContainer-title{
    width: calc(216px - 52px - 16px);
    display: flex;
align-items: center;
    margin-left: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: capitalize;
    letter-spacing: 0.5px;
font-weight: 500 ;

}


.toolMenuitemsContainer-block{
    margin-right: 10px;
    margin-left: 0px;
    display: flex;
}


.is-current{

color:#00357a !important;
background: #ffbf0f !important; ;
}


.togglefixed{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: calc(216px - 1px);
    padding: 0;
    border-top: 1px solid #e3e4e5;
    border-bottom: none;
    cursor: pointer;
    font-size: 1em;
    color: white;
    background-color: #00357a;
    border: none !important;
   
}

.togglefixed button{
    border-radius: 0;
    background: transparent;
    border: 0;
    font-size: 1.2em;
    margin: 0;
    padding: 0 16px;
    width: 100%;
    height: 52px;
    text-align: right;
    display: inline-block;
        
}

.togglefixed button span::before {
    content: "\f100";
    font-size:12pt;
}

.togglefixed button span {
    font-size:12pt;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.min{
    justify-content: center;
    width: calc(52px - 1px);
    color: white;
    border-top: 1px solid white;
   
}


.pagebody-left{
    display: flex;
    flex-direction: column;
    width: 100%;
   
 
}
.nav-site{
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start !important;
    min-height: initial;
    margin: 0;
    padding: 16px;
}

.sitenameseperator{
        display: none;
}

.sites-2{
    display: none;
}

.sitename a{
    color: white;
    margin: 0 16px;
    padding: 0;
    text-decoration: none;
}

.toolname{
    color:#00357a;

}

.toolNameText{
 font-size: 1.25em;
    font-weight: bold;
    text-transform: uppercase;

}


.toolnameicon{
    display: inline-block;
    text-align: center;
   align-items: center;
    color: #00357a;
    text-transform: uppercase;
    font-size: 1.15em;
    font-weight: bold;
    margin: 0;
}

.reseticon{
    display: none;
}


.maincontent{
    display:flex;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
}


.col-1{
    min-width: 48%;
    margin: 0 16px 16px 16px;
    flex: 1 1 0;
    
}

.col-1-container{
    border: none;
    box-shadow: 0 3px 3px -2px rgba(182, 138, 93, 0.623), 0 4px 4px 0 rgba(182,138,93,.12), 0 1px 5px 0 rgba(182,138,93.12);
    margin-bottom: 16px;
}

.toolheader{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00357a;
    border-bottom: none;
    padding: 16px;
}

.toolheader h2{
    display: inline-block;
    font-size: 1.5em;
    font-weight: 400;
    color: white;
    margin: 0;
    position: relative;
}

.toolTitleNav{
    
    font-weight: 400;
    color:white;
    text-transform:capitalize;
}

.addLeft{
    font-size: 1.5em;
    font-weight: 400;
    color: white;
}

.toolheaderbuttons{
    font-size: 1.2em;
    display: flex;
        align-items: center;
    margin: 0;
}



.toolheaderbuttons-1{
    margin-right: 0em;
    padding: 7px 16px;
    border: 1px solid white;
    border-radius: 4px;
    background: #ffbf0f;
    font-family: "Open Sans",sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 18px;
    color: #202122;
    text-decoration: none;
    text-transform: none;
    cursor: pointer;
   
    margin-right: 4px;
    display: flex;
    align-items: center;
    margin: 0 0 0 4px;
}

.itemTitle{
    display: none;
        margin-left: 4px;
}


.toolheaderbuttons-1:hover{

    color: white;
    text-decoration: none;
    background: #b6975d;
    border-color: white;
  
}

.toolbody{
    border-bottom: none;
    padding: 16px;
    
}


.portletBody{
        height: 600px;
        overflow: auto;
        padding: 0;
        text-transform: uppercase;
}

.col-2{
    flex: 1 1 0;
    margin: 0 16px 16px 16px;
   
}

.col-2-container{
    border: none;
    
    box-shadow:0 3px 3px -2px rgba(182, 138, 93, 0.623), 0 4px 4px 0 rgba(182,138,93,.12), 0 1px 5px 0 rgba(182,138,93.12);
    margin-bottom: 16px;
}


.toolheader-2{
    background-color: #00357a;
    border-bottom: none;
    padding: 16px;
    display: flex;
    justify-content:flex-end;

}
.toolheader-2 h2{
    display: none;
    font-size: 0.9em;
    float: left;
}

.toolbody iframe{
    height: 502px;
        padding: 16px;
    margin: 0 0 0 0;
    width: 100%;

}

/* home.html */



/* attendance.html */


.maincontentbody{
    margin: 0 auto;
   
    width: 97%;
    
}

.maincontentbody-header{
    border-bottom: 1px solid rgba(0,0,0,0.2);
    height: 15%;
    position: relative;
}

.maincontentbody-header1, .maincontentbody-header2{
     border-top: 1px solid rgba(0,0,0,0.2);
     border-left: 1px solid rgba(0,0,0,0.2);
     border-right: 1px solid rgba(0,0,0,0.2);
     display: flex;
     align-items: center;
     justify-content: center;
     padding-top: 5px;
     color:black;
     font-weight:700;
    position: absolute;
    bottom: 0;

}

.maincontentbody-header2{
     margin-left: 20%;
}

.maincontentbody-header1.active,.maincontentbody-header2.active{
 border-top: 5px solid #ffbf0f;
     border-left: 1px solid rgba(0,0,0,0.2);
     border-right: 1px solid rgba(0,0,0,0.2);
     display: flex;
     align-items: center;
     justify-content: center;
     padding-top: 5px;
     background:#00357a;
     color:white;
     font-weight:700
}


.maincontentbody-subheader{
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-left: 5%;
    padding-top: 0% !important;
    padding-bottom: 0% !important;
    

    display: flex;
    align-items:flex-start !important;
    justify-content: flex-start;
    flex-direction: row;

}


.maincontentbody-subheader1{
    border-right: 1px solid rgba(0,0,0,0.2);
    width: 18%;
    
    
}


.maincontentbody-subheader2{
    padding-left: 2%; 
}


.span1,.span2{

padding-right: 20px ;
margin-left: 20%;

}










.maincontentbody-body{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
  
}

.maincontentbody-body h3{
    text-align:center;
    font-weight: bold !important;
}

.maincontentbody-body img{
    width: 20%;
}

.success{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction:row;
    padding-top: 2%;
}

.success img{
    width: 10% !important;
    margin: 5px;
}

.success h3{
    font-weight:bold;

}

.maincontentbody-body a{
    text-decoration: none !important;
    background:#00357a;
     color:white;
     font-weight:700;
     text-transform: capitalize;
     padding: 10px 15px;
     border-radius: 10px;
}

.maincontentbody-body a:hover{
    text-decoration: none !important;
    background:#001c41;
     color:white;
     font-weight:700;
     text-transform: capitalize;
     padding: 10px 15px;
     border-radius: 10px;
}





/* attendance.html */





/* LOADER */


.loader{
position: absolute;
background: rgba(255,255,255,0.7);
width: 100%;
height: 100vh;
top: 0;
z-index: 9999999999;
display: flex;
align-items:center;
justify-content: center;
}


.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #00357a;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* LOADER */



@media only screen and (max-width: 600px){

/* index.html */
#loginForm{
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    margin: 2em auto;
}
/* index.html */

/* home.html */
.nav-site{
    align-items: flex-start;
        display: flex;
        flex-direction: column;
    flex-wrap: wrap;
    min-height: initial;
    margin: 0;
    padding: 16px;
}
/* home.html */

}




